<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <description>Logging flag</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.webapps.fwp.FWPService</listener-class>
     </listener>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EnrollServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.EnrollServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WalletAdminServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.WalletAdminServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FIDOEnrollServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.FIDOEnrollServlet</servlet-class>
    </servlet>    
        
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.PayServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FIDOPayServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.FIDOPayServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FIDOLoginServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.FIDOLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EnrollServlet</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WalletAdminServlet</servlet-name>
        <url-pattern>/walletadmin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FIDOEnrollServlet</servlet-name>
        <url-pattern>/fidoenroll</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FIDOPayServlet</servlet-name>
        <url-pattern>/fidopay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FIDOLoginServlet</servlet-name>
        <url-pattern>/fidologin</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
