<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <description>Logging flag</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.webapps.fwp.FWPService</listener-class>
     </listener>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EnrollServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.EnrollServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisenrollServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.DisenrollServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FIDOEnrollServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.FIDOEnrollServlet</servlet-class>
    </servlet>    
        
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.ValidateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NoWebCryptoServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.NoWebCryptoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JavaScriptSignatureServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.JavaScriptSignatureServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HashServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.HashServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KeyConvertServlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.KeyConvertServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DumpASN1Servlet</servlet-name>
        <servlet-class>org.webpki.webapps.fwp.DumpASN1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EnrollServlet</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisenrollServlet</servlet-name>
        <url-pattern>/disenroll</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FIDOEnrollServlet</servlet-name>
        <url-pattern>/fidoenroll</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NoWebCryptoServlet</servlet-name>
        <url-pattern>/nowebcrypto</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JavaScriptSignatureServlet</servlet-name>
        <url-pattern>/jssignature</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HashServlet</servlet-name>
        <url-pattern>/hash</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyConvertServlet</servlet-name>
        <url-pattern>/keyconv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DumpASN1Servlet</servlet-name>
        <url-pattern>/dumpasn1</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
